
/*
Color Scheme:
#423E3B: Black Olive
#BCE7FD: Uranian Blue
#FEA82F: Yellow Orange
#D3FAD6: Tea Green
#FFFECB: Cream
#090909: Rich Black
 */

:root {
    --blackolive: #423E3B;
    --uranianblue: #BCE7FD;
    --yelloworange: #FEA82F;
    --teagreen: #D3FAD6;
    --cream: #FFFECB;
    --richblack: #090909;
}

/* Global */

body {
    margin: 0 0 auto;
}

/* Header */

header {
    background: var(--cream);
    color: var(--richblack);
    padding: 10px;
}

header h1 {
    font-family: cursive;
    font-size: 60px;
    margin-top: 0;
    text-align: center;
}

header h3 {
    font-family: serif;
    font-size: 30px;
    text-align: center;
}

/* Navigation */

.navwrapper {
    align-content: center;
    width: 100%;
    background: var(--uranianblue);
    padding: 10px;
}

nav {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

nav a {
    text-align: center;
    margin: 10px;
    padding: 10px;
    flex: 0 1 150px;
    background: var(--teagreen);
    text-decoration: none;
    color: var(--blackolive);
    border-radius: 4px;
}

nav a:hover {
    background: rgb(211, 250, 214, 75%); /* light tea green */
}

/* General settings */

#create, #join, #about{
    background: var(--cream);
    padding: 10px;
}

/* Footer */

footer {
    background: var(--uranianblue);
}