<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stunning Potato</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="content-fluid">
    <div class="alert alert-warning alert-dismissable fade show" role="alert">
        <strong>This website uses cookies!</strong> We use cookies to help improve your experience. And also because they are tasty.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="m-3">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp">
        <small id="usernameHelp" class="form-text text-muted">Please enter a username.</small>
        <button type="submit" class="btn btn-primary">Join!</button>
    </form>
    <div class="hidden m-3" style="display: none">
        <button type="button" class="btn btn-primary">Create a new session</button>
        <button type="button" class="btn btn-primary">Join an existing session</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io.connect('http://localhost:3000');
    $("form").submit((e) => {
        e.preventDefault();
        $('hidden').style.display = "block";
        document.cookie = `username=${$('username').val()}`;
        var name = 'username';
        var username;
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                username = c.substring(name.length, c.length);
                break;
            }
        }
        socket.emit('addUser', username);
    });
</script>
</body>
</html>